*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

body{
    background-image:url(/images/bg.jpg);
    }

h1{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #e74c3c;
    text-align: center;
    }

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height:500px;
    width: 290px;
    margin: 40px;
    box-shadow: 0 3px 5px #000;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}

.card .bg-image img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);

}

.card .picture img{
    width: 100px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #222;
    margin-top: -90px;
    position: relative;
}

.card .info h3{
    color: #f0f0f0;
    font-size: 20px;
    padding: 10px 0;
}

.card .info span{
    font-size: 15px;
    color: #e74c3c;
}

.card .info p{
    font-size: 13px;
    padding: 10px 20px;
    color: #999;
}

.card .info .icons a{
    font-size: 20px;
    text-decoration: none;
    color: #e74c3c;
    margin-top: 20px;
    padding: 0 5px;
}

.card .info .icons a:hover{
    color: #f0f0f0;
}

.footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #000;;
    padding: 20px 0;
}

.footer-bottomcol{
	color: #808080;
	padding-top: 10px;
	width: 100%;
	text-align: center;
}