<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About Us</title>
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
	<div class="container">
		<center>
			<h2>Here's some information about us...😉</h2>
			<div class="img">
				
			</div>
			<p>Welcome to Ecommerce Inc, your number one source for everything you'll ever need. We're dedicated to giving you the very best of what you are looking for, with a focus on quality, afforability and availability.</p>
			<p>Founded in 2021 by Team024, Ecommerce Inc has come a long way from its beginnings in dingtalk conference. Ecommerce Inc can offer you the best online shopping experience, whether you are lokking for socks or cars, we got you covered. We now serve customers all over the world, and we are thrilled that we're able to turn our passion into reality.</p>
			<p>We at Ecommerce Inc hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us through the form provided below.</p>
			<p>Sincerely,</p>
			<p>Ecommerce Inc team</p>	
		</center>
	</div>
</body>
</html>