<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FAQ</title>
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/faq.css' %}">
</head>
<body>
	<div class="header3">
		<h3>Frequently Asked Questions</h3>
	</div>
	
	<section>
		<div class="container">
			<div class="accordion">
				<div class="accordion-item" id="question1">
						<a class="accordion-link" href="#question1">
							What payment methods can I use?
							<i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
						<div class="answer">
							<p>We accept Visa®, MasterCard®, Discover®, American Express®, and JCB®, as well as check cards and ATM cards if they are issued by one of these major credit card companies. We also accept payment through PayPal® and Amazon®, as well as checks, money orders, and wire transfers.</p>
						</div>
				</div>

				<div class="accordion-item" id="question2">
						<a class="accordion-link" href="#question2">
							How can I refund my purchse?
							<i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
						<div class="answer">
							<p>We accept Visa®, MasterCard®, Discover®, American Express®, and JCB®, as well as check cards and ATM cards if they are issued by one of these major credit card companies. We also accept payment through PayPal® and Amazon®, as well as checks, money orders, and wire transfers.</p>
						</div>
				</div>

				<div class="accordion-item" id="question3">
						<a class="accordion-link" href="#question3">
							How do I reset my password?
							<i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
						<div class="answer">
							<p>We accept Visa®, MasterCard®, Discover®, American Express®, and JCB®, as well as check cards and ATM cards if they are issued by one of these major credit card companies. We also accept payment through PayPal® and Amazon®, as well as checks, money orders, and wire transfers.</p>
						</div>
				</div>

				<div class="accordion-item" id="question4">
						<a class="accordion-link" href="#question4">
							How do I change my shipping address?
							<i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
						<div class="answer">
							<p>We accept Visa®, MasterCard®, Discover®, American Express®, and JCB®, as well as check cards and ATM cards if they are issued by one of these major credit card companies. We also accept payment through PayPal® and Amazon®, as well as checks, money orders, and wire transfers.</p>
						</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>