<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <title>Our Team</title>
</head>
<body>

<h1>Meet Team 024</h1>

<section class="container">

    <div class="card">
        <div class="bg-image">
            <img src="{% static 'images/pic1.jpg' %}" alt="Image not available">
        </div>
        <div class="picture">
            <img src="{% static 'images/rohit.JPG' %}" alt="Image not available">
        </div>
        <div class="info">
            <h3>Rohit Vasu</h3>
            <span> <i class="fas fa-code"></i>Team Leader</span>
            <p>Web Designer</p>
            <div class="icons">
            <a href="#" class="fab fa-instagram"></a>
        </div>
        </div>

    </div>

    <div class="card">
        <div class="bg-image">
            <img src="{% static 'images/pic2.jpg' %}" alt="Image not available">
        </div>
        <div class="picture">
             <img src="{% static 'images/shashika.jpg' %}" alt="Image not available">
        </div>
        <div class="info">
            <h3>Shashika Dulanjana</h3>
            <span> <i class="fas fa-code"></i>Support Lead</span>
            <p>Web Developer</p>
            <div class="icons">
            <a href="#" class="fab fa-instagram"></a>
        </div>
        </div>

    </div>

    <div class="card">
        <div class="bg-image">
            <img src="{% static 'images/pic3.jpg' %}" alt="Image not available">
        </div>
        <div class="picture">
             <img src="{% static 'images/samuel.jpg' %}" alt="Image not available">
        </div>
        <div class="info">
            <h3>Samuel kelemu</h3>
            <span> <i class="fas fa-code"></i>Team Member</span>
            <p>Web Developer</p>
            <div class="icons">
            <a href="#" class="fab fa-instagram"></a>
        </div>
        </div>

    </div>

</section>

<footer class="footer">
    <div class="footer-bottomcol">
        <p>copyright &copy;2021 Ecommerce. Designed and coded by Team 024.</p>
    </div>
</footer>

</body>
</html>