{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div id="content-wrapper">

        <!--Box1-->
        <div class="column">
            <img id="featured" src="{{product.imageURL}}">
            <div id="slide-wrapper">
                <img id="slideLeft" class="arrow" src="{% static 'images/arrow-left.png' %}">

                <div id="slider">
                    {% for image in product.image_set.all%}
                    <img class="thumbnail" src="{{image.imageURL}}">
                    {% endfor %}
                </div>

                <img id="slideRight" class="arrow" src="{% static 'images/arrow-right.png' %}">
            </div>
        </div>
        <div class="column">
            <h1>{{product}}</h1>
            <hr>
            <h3>${{product.price}}</h3>

            <p>{{product.description}}</p>

            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>

        </div>
        <hr>
         
    </div>
    <!--Box1 end -->
    <!--Box2-->
    <div class="column">
        <div >
            <br><br>
            <h4>Comments on this Product..</h4>
            <hr>
            {% for comment in comments %}
                    <strong>
                        {{comment.name}} -
                        {{comment.date_commented}} 
                    </strong>
                    <p style="color:#0099ff";>Product Rating : {{comment.status}}</p>
                    {{comment.body}}
                    <br>
                    <hr>
            {% endfor %}
        </div>
        <div>
            <h6>Add Comment..</h6>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
    </div> 
    <!--Box2 end -->
    
    <br><br>
    <script type="text/javascript">
            let thumbnails = document.getElementsByClassName('thumbnail')
            let activeImages = document.getElementsByClassName('active')
            for (var i=0; i < thumbnails.length; i++){
                thumbnails[i].addEventListener('mouseover', function(){

                    if (activeImages.length > 0){
                        activeImages[0].classList.remove('active')
                    }
                    this.classList.add('active')
                    document.getElementById('featured').src = this.src
                })
            }
            const buttonRight = document.getElementById('slideRight');
            const buttonLeft = document.getElementById('slideLeft');

            buttonRight.addEventListener('click', function(){
                document.getElementById('slider').scrollLeft += 180;
            })
            buttonLeft.addEventListener('click', function(){
            document.getElementById('slider').scrollLeft -= 180;
            })

    </script>
    <link rel="stylesheet" href="{% static 'css/pdp.css' %}">
    
{% endblock content %}