{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
            <div class="cart thumbnail2">
                <div class="col">
                <form action="" method="get">
                    <p>Search : {{myFilter.form.name}}
                    <button  class="btn btn-success" type="submit">Go</button></p>
                    <hr>   
                    <p>Category : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price : {{myFilter.form.price}}</p>
                    <p>{{myFilter.form.tags}}</p>
                    <hr>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% for product in products %}
        <div class="col-lg-2">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div>
                <h6><strong>{{product.name|truncatechars:40}}</strong></h6>
                <hr>

                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
                <a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">View</a>
                <h4 style="float:right;"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
 