{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!--Slider -->
    <div class ="silder-body">
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first">
                    <img src="{% static 'images/cam_ban.jpg' %}" alt="">
                </div>
                <div class="slide">
                    <img src="{% static 'images/cloth_ban.jpg' %}"  alt="">
                </div>
                <div class="slide">
                    <img src="{% static 'images/lpstk_ban.jpg' %}"  alt="">
                </div>
                <div class="slide">
                    <img src="{% static 'images/shoe_ban.jpg' %}"  alt="">
                </div>
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn1"></div>
                    <div class="auto-btn1"></div>
                    <div class="auto-btn1"></div>
                </div>
                
            </div>
            <!--manual navigtion -->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
        </div>
        <script type="text/javascript">
            //javascript for slider 
            var counter = 1;
            setInterval(function(){
                document.getElementById('radio' + counter).checked = true;
                counter++
                if(counter > 4){
                    counter = 1;
                }
            }, 5000) 
        </script>
    </div>

<!--Slider end -->
    <h3><span class="badge badge-pill badge-danger">Hot</span></h3>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-2">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div>
                <h6><strong>{{product.name|truncatechars:40}}</strong></h6>
                <hr>

                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
                <a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">View</a>
                <h4 style="float:right;"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br><br>
{% endblock content %}
 